

<nav class="navbar navbar-default">
<ul class="nav navbar-nav">
<li><a href="/feeds/manage">Top Stories</a></li>
<li><a href="/feeds/manage">Manage Feeds (<%= current_user.feeds.count %>)</a></li>
<li><a href="/logout">Log Out</a></li>
</ul>
</nav>

<h3>Hello, <%= current_user.username %>. Here are your top stories.</h3>

<%= "You have no feeds at the moment. You should add a feed!" if @feeds.empty? %>

<ul class="list-group">
<% current_user.sort_feeds.each do |item| %>
        <li class="list-group-item"><%= "<h4><a href='#{item[:link]}'> #{item[:title]} </a></h4> 
        <span class='badge'>#{item[:channel]} - #{item[:date].to_s}</span>" %>
        <div class="well"><%= item[:summary] %></div></li>
<% end %>
</ul>
