

<nav class="navbar navbar-default">
<ul class="nav navbar-nav">
<li><a href="/feeds">Top Stories</a></li>
<li><a href="/feeds/manage">Manage Feeds (<%= current_user.feeds.count %>)</a></li>
<li><a href="/logout">Log Out</a></li>
</ul>
</nav>

<h3>Hello, <%= current_user.username %>. Here are your top stories.</h3>

<%= "You have no feeds at the moment. You should add a feed!" if @feeds.empty? %>

<ul class="list-group">
<% @top_stories.each do |item| %>
        <li class="list-group-item">
        <%= "<h3><a href='#{item[:link]}'> #{item[:title]} </a><h3>" %>
        <%= "<h5>#{item[:channel]} - #{item[:date].to_s}</h5>" %>
        <div class="well"><%= item[:summary] %></div></li>
<% end %>
</ul>
